# Module 7. Time series analysis Lab 2

In [ ]:
# Package imports
import numpy as np                                  # "Scientific computing"
import pandas as pd                                 # Dataframe

import scipy.stats as stats                         # Statistical tests
from sklearn.linear_model import LinearRegression   # Linear regression model

import matplotlib.pyplot as plt                     # Basic visualisation
from statsmodels.graphics.mosaicplot import mosaic  # Mosaic plot
import seaborn as sns                               # Advanced dataviz

### Exercise 1

The file House Sales.csv contains monthly data on the number of new one-family
houses sold in the United States (in thousands) from January 1991 through December 2011.
Housing sales were steadily trending upward until about the beginning of 2006, then the
bottom fell out of the housing market, and sales eventually started trending upward again.   

- First Create a time series chart of the data.
- Add predictions for Simple Moving Average with span of 3, 6 and 12 months to the dataframe.
- Add predictions for Simple Exponential Smooting to the dataframe.
- Add predictions for Double Exponential Smoothing to the dataframe.
- Calculate the MAE to find the best model

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/HoGentTIN/dsai-labs/main/data/Monthly%20House%20Sales.csv', delimiter = ";", parse_dates=['Month']).set_index(['Month'])
data.head()

        Houses Sold
Month
jan/91          401
feb/91          482
mrt/91          507
apr/91          508
mei/91          517

First Create a time series chart of the data.

Add predictions for Simple Moving Average with span of 3, 6 and 12 months to the dataframe.

Add predictions for Simple Exponential Smooting to the dataframe.

Add predictions for Double Exponential Smoothing to the dataframe.

Calculate the MAE to find the best model. First drop the rows with NaN.

In [ ]:
columns = ['SMA3', 'SMA6', 'SMA12', 'SES', 'DES']

## Exercise 2

You have been assigned to forecast the number of aircraft engines ordered each month from an engine manufacturing company. At the end of February, the
forecast is that 100 engines will be ordered during April.
Then during March, 120 engines are actually ordered.  
Using $\alpha$ = 0.3, determine a forecast (at the end of March) for the number of orders placed during April and during May. Use simple exponential
smoothing.  
These are the appropriate formulae

$X_t = \alpha x_t + (1 - \alpha) X_{t-1}$

$F_{t+m} = X_t$

## Exercise 3

An automobile dealer is using Holt's method to
forecast weekly car sales. Currently, the level is
estimated to be 50 cars per week, and the trend is
estimated to be six cars per week. During the current
week, 30 cars are sold. After observing the current
week's sales, forecast the number of cars three weeks
from now. Use $α = $β = 0.3.

These are the appropriate formulae

$X_{t} = \alpha x_{t} + (1-\alpha)(X_{t-1} + b_{t-1})$

$b_{t} = \beta(X_{t}-X_{t-1}) + (1-\beta)b_{t-1}$

$F_{t+m} = X_t + mb_t$

### Exercise 4

Consider the airline ticket data in the file airline ticket data.csv  
- Create a time series chart of the data. Based on what
you see, which of the exponential smoothing models
do you think should be used for forecasting? Why?
- Create and train the model. Predict the values for the next 12 months.
- Create a plot with the airline ticket data, the fitted values and the predicted values for the next 12 months.

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/HoGentTIN/dsai-labs/main/data/airline%20ticket%20data.csv', delimiter = ";", parse_dates=['Month']).set_index(['Month'])
data.head()

            Tickets
Month
2018-01-01      605
2018-02-01      647
2018-03-01      636
2018-04-01      612
2018-05-01      714

### Exercise 5

The file US Retail.csv contains monthly retail sales of
beer, wine, and liquor at U.S. liquor stores.
- Is seasonality present in these data?
- Create a time series chart of the data. Based on what
you see, which of the exponential smoothing models
do you think should be used for forecasting? Why?
- Split the dataset in a train (1992-01-01 up to and including 2008-12-01) and test set (2009-01-01 up to and including 2009-12-01)  
- Create and train the model. 
- Predict the values for 2009.
- Create a plot with the train data, the fitted values, the test data and the predicted values.
- Calculate MAE

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/HoGentTIN/dsai-labs/main/data/US%20Retail.csv', delimiter = ";", parse_dates=['Month']).set_index(['Month'])
data.head()

## Source
Business Analytics Data Analysis & Decision Making